body {
 color: red;
 background-color: lightblue;
}
span {
 font-size: 30px;
}
#camera, #result {
 border: 3px;
  width: 350px;
  height: 350px;
}
#result_emotion_name, #result_emotion_name2 {
  color: rgb(255,145,45);
}
.emotion_name{
  font-size: 50px;
}
.emoji {
  font-size: 45px;
}
.heading {
  font-size: 40px;
  border-radius: 10px;
  letter-spacing: 15px; 
}
label {
  font-size:30px;
  color: orange;
  padding: 5px;
  border-radius: 7px;
  background-color: yellow;
}
